.top-half {
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1619983081593-e2ba5b543168?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.bottom-half {
    height: 40%;
}

.navbar {
    background-color: purple;
}

h1 {
    color: '#9e4770';
    text-align: center;
    font-family: 'Dela Gothic One';
    font-size: 75px;
}

h2 {
    color: '#2e2532';
    text-align: center;
    font-family: 'Urbanist';
    font-size: 30px;
}

h3 {
    font-weight: bold;
}